<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            **/DTOs/**/*.cs,
            **/DTOs/*.cs,
            **/Exceptions/**/*.cs,
            **/Exceptions/*.cs,
            **/Models/**/*.cs,
            **/Models/*.cs,
            **/Migrations/**/*.cs,
            **/Migrations/*.cs,
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
